################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RomanFanfare.mp3
/RCT2Music.mp4
/OrientalStyle.mp3
/MartianStyle.mp3
/wavs
